* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #dad7d7;
    height: 80ch;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



.container {
    width: 500px;
    box-shadow: 1px 9px 24px #3a37371a;
}
li {
    list-style: none;
    text-align: center;
    font-weight: 580px;
}

header {
    background-color: #ec3838;
    color: whitesmoke;
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 10px;
    border-radius: 5cm 5cm 1 1;
    
}

header .month {
    font-size:10px;
    font-weight: 580px;
    padding: 2px 2px;
}

header .year {
    font-size: 10px;
    padding: 2px 2px;
}

.material-symbols-outlined {
    padding: 5px;
    cursor: pointer;
}

main {
    display: grid;
    grid-template-rows: auto 1fr;
}
.week-days {
    background-color: rgb(180, 177, 177);
        display: grid;
        grid-template-columns: repeat(7, 1fr);
    
}
.month-days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}


.week-days li {
    border: 1px solid #eeeeee7c;
    border-bottom: 0;
    border-top: 0;
    padding: .5rem 0;
}

.month-days {
    background-color: #ffffff;
}

.month-days li {
    border: 1px solid #d2c8c8;
    padding: .7rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.month-days .weekend-day{
    background-color: #b7b7b7;
    border: 2px solid #dad5d563;
}

.month-days p {
    padding: .7rem;
}

.month-days .current-day p{
    background-color: #ee3333;
    color: #ffffff;
    border-radius: 50%;
}

.month-days .days-out-of {
    color: #b5b5b5;
}

@media screen and (max-width: 800px) {
    .container {
        width: 500px;
        box-shadow: 1px 9px 24px #322f2f1a;
    }

    header {
        padding: .7rem;
    }

    header .month, header .year, header .material-symbols-outlined {
        font-size: 1.2rem;
        padding: .7rem .1rem;
    }

    main {
        font-size: 1rem;
    }

    .week-days li {
        padding: .4rem 0;
    }

    .month-days li, .month-days p {
        padding: .4rem;
    }
}

@media screen and (max-width: 380px) {
    .container {
        width: 230px;
        box-shadow: 1px 9px 24px #322f2f1a;
    }

    header {
        padding: .5rem;
    }

    header .month, header .year, header .material-symbols-outlined {
        font-size: 1rem;
        padding: .5rem .1rem;
    }

    main {
        font-size: .8rem;
    }

    .week-days li {
        padding: .2rem 0;
    }

    .month-days li, .month-days p {
        padding: .2rem;
    }

}
