body {
    display: flex;
    justify-content: space-around;
  }
  
  .regular-inputs div {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
  }
  
  .regular-inputs input {
    margin-bottom: 10px;
  }
  
  label {
    text-transform: capitalize;
  }
  
  .special-inputs {
    width: 200px;
  }
  
  .alternative {
    display: flex;
    justify-content: space-between;
  }
  
  .radio-wrapper {
    margin-bottom: 10px;
  }